[*.cs]
# IDE0028
dotnet_diagnostic.IDE0028.severity = none

# Nullチェック簡素化
dotnet_diagnostic.IDE0270.severity = none

# プライマリ コンストラクターの使用
dotnet_diagnostic.IDE0290.severity = none

# コレクションの初期化
dotnet_diagnostic.IDE0300.severity = none
dotnet_diagnostic.IDE0305.severity = none
