@* _EmptyLayout.cshtml *@
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <title>HakamataSoft - 受注管理デモ</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/app.css" />
    <link rel="stylesheet" href="~/BlazorOrderApp.styles.css" />
    <link rel="icon" type="image/png" href="~/favicon.png" />
    @RenderSection("HeadContent", false)
</head>
<body>
    @RenderBody()
    @RenderSection("Scripts", false)
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
