@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 d-flex align-items-center" style="min-height: 48px;">
            <AuthorizeView>
                <Authorized>
                    <span class="bi-user-circle me-2"></span>
                    <span>ようこそ <strong>@context.User.Identity!.Name</strong> さん</span>
                </Authorized>
                <NotAuthorized>
                    <span class="text-secondary">ログインしていません</span>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            <ErrorBoundary>
                <!-- 正常系 -->
                <ChildContent>
                    @Body
                </ChildContent>
                <!-- エラー系 -->
                <ErrorContent Context="ex">
                    <ErrorDisplay Exception="ex" />
                </ErrorContent>
            </ErrorBoundary>
        </article>

    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
